body {
  background-color: gray;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

li {
  list-style: none;
  margin-bottom: 8px;
}

a {
  color: #00B7FF;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.new-form {
  width: 300px;
}

.new-form > * {
  margin: 5px;
}

form
input {
  width: 200px;
}

.delete-form {
  display: inline-block;
}

.delete-btn {
  margin-right: 0px;
}