body {
  background-color: gray;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

li {
  list-style: none;
  margin-bottom: 8px;
}

a {
  color: #00B7FF;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.new-form > *,
.edit-form > * {
  margin: 5px;
}

.delete-form {
  display: inline-block;
}

.delete-btn {
  margin-right: 8px;
  background-color: transparent;
  color: black;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.delete-btn:hover {
  cursor: pointer;
  color: red;
}